.classa1{
background-color: aquamarine;
}

.classa2{
background-color: aquamarine;
}

.classa3{
background-color: aquamarine;
}


.classa4{
background-color: aquamarine;
}


.classa5{
background-color: aquamarine;
}


.classa6{
background-color: aquamarine;
}